*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
  }
  
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    padding: 1rem;
  
    background-color: #1b1b1b;
  }
  
  .brand{
    font-size: 2rem;
    font-weight: bold;
    color:white;
  }
  
  header nav ul{
    display: flex;
  }
  
  header nav ul li {
    list-style-type: none;
  }
  
  header nav ul li a {
    text-decoration: none;
    padding: 0 0.3rem;
    color: white;
    transition: color 0.3s ease-out 0s;
  }
  
  header nav ul li a:hover{
    color: grey;
  }

  .content{
    padding: 2rem;
  }

  .hero-container{
    text-align:center;
    margin-bottom: 1rem;
  }

  .blog-preview{
    padding: 1rem 1.3rem;
    margin: 1.5rem 0;
    border-bottom: 1px solid #fafafa;
    transition: all 0.3s ease-out 0s;
  }

  .blog-preview:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .blog-preview h2 {
    font-size: 1.3rem;
    color: coral;
  }

  .home{
    width: 70%;
    margin: auto;
  }

  .blog-preview a{
    text-decoration: none;
    color: #1b1b1b;
  }

  .create{
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }

  .create label{
    text-align: center;;
    display: block;
  }

  .create button {
    margin: 1rem auto;
    display: block;
    padding: 0.5rem 1rem;
    
  }